{% extends 'base.html.twig' %}
{% block body %}
  <div class="content">
    <div class="form-container">
      <h1>Nouvel evenement</h1>
        {{ form_start(form) }}
          <div class="form-row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
          </div>
          <div class="form-row">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
          </div>
          <div class="form-row">
            {{ form_label(form.adresse) }}
            {{ form_widget(form.adresse) }}
            {{ form_errors(form.adresse) }}
          </div>
          <div class="form-row">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
          </div>
          <div class="form-row">
            {{ form_label(form.pictureFile) }}
            {{ form_widget(form.pictureFile) }}
            {{ form_errors(form.pictureFile) }}
          </div>
          <div class="form-action">
            <button class="btn btn-primary">Valider</button>
            <a class="btn btn-warning" href="{{ path('home')}}">Annuler</a>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}


