{% extends 'base.html.twig' %}

{% block body %}
<div class="album bg-body-tertiary py-3 my-3">
  <div class="container">
  <h1 class="text-capitalize text-center my-4">Agenda</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for event in events %}
      <a href="{{ path('show_event', { id: event.id}) }}">
        <div class="card p-0 shadow card-height">
          <img src="{{ asset('build/images/eventFayence.jpeg')}}" class="card-img-top" alt="image event {{ event.name }}">
          <div class="card-body d-flex flex-column justify-content-between">
            <h3 class="card-title">{{ event.name | title }}</h3>
            <hr>
            <div class="">
              <p class="fs-6 fw-light">Adresse : {{ event.adresse }}</p>
              <p class="fs-6 fw-light">Le {{ event.date | date('d M Y h:mm')}}</p>
            </div>
            <hr>
            <p class="card-text">{{ event.content | slice(0, 100) }}...</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
