{% extends 'base.html.twig' %}

{% block body %}
{# <div class="content">
	<div class="cards">
		<h1 class="center">Agenda</h1>
		<div class="card-list">
			{% for event in events %}
			<a href="{{ path('show_event', { id: event.id }) }}">
				<div class="card">
					<div class="card-picture">
						<img src="{{ event.picture }}" alt="">
					</div>
					<div class="card-content">
						<h2 class="card-title">{{event.name}}</h2>
						<div class="separator mb20"></div>
						<p class="mb10"><span class="bold">Adresse</span> : {{ event.adresse }}</p>
						<p class="mb10"><span class="bold">Date</span> : {{ event.date | date('d M Y à h:m')}}</p>
						<p class="mb10"><span class="bold">Sujet</span> : {{ event.content}}</p>
					</div>
				</div>
			</a>
		{% endfor %}
		</div>
	</div>
</div> #}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
  <h2 class="text-capitalize text-center my-4">Agenda</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for event in events %}
      <a href="{{ path('show_event', { id: event.id}) }}">
        <div class="card p-0 shadow" >
          <img src="{{ asset('build/images/eventFayence.jpeg')}}" class="card-img-top" alt="image event {{ event.name }}">
          <div class="card-body">
            <h3 class="card-title">{{ event.name }}</h3>
            <hr>
            
            <div class="">
              <p class="fs-6 fw-light">Adresse : {{ event.adresse }}</p>
              <p class="fs-6 fw-light">Le {{ event.date | date('d M Y à h:m')}}</p>
            </div>
            <p class="card-text">{{ event.content | slice(0, 100) }}...</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
