{% extends 'base.html.twig' %}

{% block body %}
<div class="element-detail white shadow rounded m-5">
    <div class="element-picture">
      <img src="{{ asset(event.picture) }}" alt="image event {{event.name}}" class="img-fluid">
    </div>
    <h1 class="text-center text-capitalize">{{ event.name }}</h1>
    <div class="px-3">
      <div class="element-info">
      <p class="element-date"><span class="bold">Date de l'évènement</span> : {{ event.date | date('d M Y à h:m')}}</p>
      <p class="element-adress"><span class="bold">Adresse de l'évènement</span> : {{ event.adresse}}</p>
    </div>
    <hr>
    <div class="element-content py-3">
      <pre>{{event.content | nl2br }}</pre>
    </div>
    </div>
    
  </div>








<div class="content">
  
</div>
{% endblock %}

