{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
  <div class="element-detail">
    <h1>{{ event.name }}</h1>
    <div class="element-picture">
      <img src="{{ asset(event.picture) }}" alt="image event {{event.name}}">
    </div>
    <div class="element-info">
      <p class="element-date"><span class="bold">Date de l'évènement</span> : {{ event.date | date('d M Y à h:m')}}</p>
      <p class="element-adress"><span class="bold">Adresse de l'évènement</span> : {{ event.adresse}}</p>
    </div>
    <div class="separator"></div>
    <div class="element-content">
      <pre>{{event.content | nl2br }}</pre>
    </div>
  </div>
</div>
{% endblock %}

