{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}




<div class="container d-flex justify-content-center">
  <form action="{{ path('login' ) }}" method="post" class="w-50 my-5 p-3 rounded shadow white">
    <h1 class="text-center">Connexion</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="_username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="_password">
    </div>
    <div class="mb-3 form-check d-flex justify-content-center">
      <input type="checkbox" class="form-check-input me-3" id="remember_me" name="_remember_me">
      <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      {% if error %}
          <ul class="form-error">
              <li>{{ error.messageKey | trans(error.messageData, 'security') }}</li>
          </ul>
      {% endif %}
      <button type="submit" class="btn btn-primary">Connexion</button>
    <hr>
    <div class="helper d-flex justify-content-between">
          
            <a href="{{ path('register') }}" class="small">Vous n'avez pas de compte</a>
        
            <a href="{{ path('reset_password_request')}}" class="small">Mot de passe oublié</a>
        
    </div>
  </form>
</div>














    
        {# <form >
        <h1>Connexion</h1>
            <div class="form-row">
                <label for="email">Email</label>
                <input type="text" id="email" name="_username" value="">
            </div>
            <div class="form-row">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" >
            </div>
            <div class="form-row">
                <label for="remember_me">
                    <input type="checkbox" id="" >
                    Se souvenir de moi
                </label>
            </div>

            {# Token secu #}
            
            
            
            
            {# <div class="separator mb-20"></div>
            <div class="action p20">
                <button class="btn btn-primary"></button>
            </div>
        </form>
    </div>
</div> #}
{% endblock %}
