{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
 <div class="content">
  <div class="form-container">
    <h2>Formulaire d'inscription</h2>
      {{ form_start(form) }}
      <div class="form-row">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
      </div>
      <div class="form-row">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
      </div>
      <div class="form-row">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        {{ form_errors(form.firstname) }}
      </div>
      <div class="form-row">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
        {{ form_errors(form.lastname) }}
      </div>
      <div class="form-row">
        {{ form_label(form.picture) }}
        {{ form_widget(form.picture) }}
        {{ form_errors(form.picture) }}
      </div>
      <div class="action">
        <button class="btn btn-primary mr-10">Inscription</button>
      </div>
      <div class="helper">
        <a href="{{ path('login') }}" class="small">Vous avez déjà un compte ?</a>
      </div>
      {{ form_end(form )}}
    </div>
  </div>
{% endblock %}
