<header class="">
  <div class="d-flex justify-content-between p-3 align-items-center">
    <a href="{{ path('home') }}">
      <img class="logo" src="{{ asset('build/images/logo.png')}}" alt="logo">
    </a>
    {# <div class="header-action"> #}
    <div>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('logout')}}" class="btn btn-sm btn-outline-light me-2">deconnexion</a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('administration')}}" class="btn btn-sm btn-outline-light me-2">Administration</a>
        {% endif %}
        <a href="{{ path('edit_user', {id: app.user.id}) }}" class="">
        {# Décommenter appel vers la bdd pour ajout image en prod #}
          {# <img class="avatar" src="{{ asset(app.user.picture) }}" alt="profil"> #}
          <img class="rounded-circle avatar shadow hover-pic" src="https://randomuser.me/api/portraits/women/66.jpg" alt="profil">
        </a>
      {% else %}
        <a href="{{ path('login')}}" class="btn btn-sm btn-outline-light">Connexion</a>
        <a href="{{ path('register')}}" class="btn btn-sm btn-outline-light">Inscription</a>
      {% endif %}
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center white shadow-sm header-bottom">
    <ul class="d-flex align-items-center justify-content-around m-0 w-75 p-2">
      <li><a href="{{ path('articles_show')}}" class="txt-black hover-zoom">Articles</a></li>
      <li><a href="{{ path('event') }}" class="txt-black hover-zoom">Agenda</a></li>
      <li><a href="{{ path('statut')}}" class="txt-black hover-zoom">l'Association</a></li>
      <li><a href="{{ path('contactForm') }}" class="txt-black hover-zoom">Nous contacter</a></li>
    </ul>
  </div>
</header>