<header>
  <div class="header-top">
    <div class="header-logo">
      <a href="{{ path('home') }}">
        <img src="{{ asset('build/images/logo.png')}}" alt="logo">
      </a>
    </div>
    <div class="header-action">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('logout')}}" class="btn btn-primary">deconnexion</a>
        {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('administration')}}" class="btn btn-primary">Administration</a>
        {% endif %}
        {# <a href="" class="">
          <img class="avatar" src="{{ asset(user.picture) }}" alt="profil">
        </a> #}
      {% else %}
        <a href="{{ path('login')}}" class="btn btn-primary">Connexion</a>
        <a href="{{ path('register')}}" class="btn btn-secondary">Inscription</a>
      {% endif %}
    </div>
  </div>
  <div class="header-bottom">
  <ul >
    <li><a href="{{ path('articles_show')}}">Articles</a></li>
    <li><a href="{{ path('event')}}">Agenda</a></li>
    <li><a href="">l'Assocation</a></li>
    <li><a href="">Contact</a></li>
  </ul>
  <div class="header-social">
    <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
  </div>
  </div>
</header>