<header class="">
  <div class="logo">
    <a href="{{path('home')}}">
      <img src="{{ asset('build/images/logo.png')}}" alt="logo fayence avenir">
    </a>
  </div>
  <ul class="nav">
    <li><a href="{{ path('articles_show') }}">Blog</a></li>
    <li><a href="{{ path('event') }}">Evènements</a></li>
    {# <li><a href="">A propos</a></li> #}
  </ul>
  <div class="action">
  {%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
    <a href="{{ path('logout') }}" class="btn"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    <a href="" class="btn"><i class="fa-solid fa-user"></i>Profil</a>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('administration') }}" class="btn"><i class="fa-solid fa-pen-nib">Administration</i></a>
    {% endif %}
  {% else %}
    <a href="{{ path('login') }}" class="btn"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    <a href="{{ path('register') }}" class="btn"><i class="fa-solid fa-database"></i>Inscription</a>  
  {% endif %}
  </div>
</header>