<header class="">
  <div class="logo">
    <a href="{{path('home')}}">
      <img src="{{ asset('build/images/logo.png')}}" alt="logo fayence avenir">
    </a>
  </div>
  <ul class="nav">
    <li class="mr-5"><a href="{{ path('article_show') }}">Blog</a></li>
    <li><a href="">Evènements</a></li>
    <li><a href="">A propos</a></li>
  </ul>
  <div class="action">
  {%- if is_granted('IS_AUTHENTICATED_FULLY') -%}
    <a href="{{ path('logout') }}" class="btn"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    <a href="" class="btn"><i class="fa-solid fa-user"></i>Profil</a>
  {% else %}
    <a href="{{ path('login') }}" class="btn"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    <a href="{{ path('register') }}" class="btn"><i class="fa-solid fa-database"></i>Inscription</a>  
  {% endif %}
  </div>
</header>