{% extends 'base.html.twig' %}

{% block body %}
<div class="content">
	<div class="administration flex ">
			<div class="sidebar py20">
				<ul class="flex column align-center">
					<li class="mb20">
						<h3>Articles</h3>
						<a class="small" href="{{ path('article_new')}}">Ajouter article</a>
					</li>
					<li class="mb20">
						<h3>Evènements</h3>
						<a class="small" href="{{ path('add_event')}}">Ajouter évènement </a>
					</li>
					<li class="mb20">
						<h3>Utilisateurs</h3>
						<a class="small" href="{{ path('show_user')}}">Modifier utilisateurs</a>
					</li>
				</ul>
			</div>
			<div class="administration-main fill p20">
			<h1 class="administration-title center capitalize">Panneau administration</h1>
				<div class="administration-edit">
					<h2 class="center">Article</h2>
					<div class="administration-list">
						{% for article in articles %}
							<div class="administration-element mb20 flex align-center justify-between p20">
								<div class="administration-element-content">
									<p class="mr20 element-text">{{ article.title | slice(0, 60)}}...</p>
									<p class="small">Ecrit le {{article.createdAt | date('d M Y')}} par <span class="author">{{ article.author.firstname }} {{ article.author.lastname }}</span></p>
								</div>
								<div class="administration-element-action  ">
									<a class="btn btn-small btn-warning mr5" href="{{ path('article_edit', {id: article.id})}}">Editer</a>
									<a class="btn btn-small btn-danger" href="{{ path('article_delete', {id: article.id})}}">Supprimer</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="separator"></div>
				<div class="administration-edit">
					<h2 class="center">Evènements</h2>
					<div class="administration-list">
						{% for event in events %}
							<div class="administration-element mb20 flex align-center justify-between p20">
								<div class="administration-element-content">
									<p class="mr20 element-text">{{ event.name | slice(0, 60)}}...</p>
									<p class="small">Prévu le {{event.date | date('d M Y')}} à {{ event.adresse }}</span></p>
								</div>
								<div class="administration-element-action  ">
									<a class="btn btn-small btn-warning mr5" href="">Editer</a>
									<a class="btn btn-small btn-danger" href="{{ path('delete_event', {id: event.id}) }}">Supprimer</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}
