{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="content">
  <h1 class="center capitalize">Nos articles</h1>
  <ul class="article-filter">
    <li><a href="{{ path('articles_show')}}">Tous</a></li>
    <li><a href="{{ path('article_show_category', {category: 'culture'})}}"><i class="fa-solid fa-masks-theater"></i></i>Culture/Animation</a></li>
    <li><a href="{{ path('article_show_category', {category: 'societal'})}}"><i class="fa-solid fa-comments"></i>Sociétal</a></li>
    <li><a href="{{ path('article_show_category', {category: 'environment'})}}"><i class="fa-solid fa-leaf"></i></i>Environnement</a></li>
    <li><a href="{{ path('article_show_category', {category: 'sport'})}}"><i class="fa-solid fa-person-running"></i>Sport</a></li>
    <li><a href="{{ path('article_show_category', {category: 'energy'})}}"><i class="fa-solid fa-faucet-drip"></i>Energie</a></li>
    <li><a href="{{ path('article_show_category', {category: 'agriculture'})}}"><i class="fa-solid fa-wheat-awn"></i></i>Agriculture</a></li>
    <li><a href="{{ path('article_show_category', {category: 'tourism'})}}"><i class="fa-solid fa-suitcase-rolling"></i>Tourisme</a></li>
  </ul>
  <div class="cards">
    <div class="card-list">
    {% for article in articles %}
      <a href="{{ path('article_show', {id: article.id})}}">
        <div class="card">
          <div class="card-picture">
            <img src="{{ article.picture }}" alt="image article {{article.title}}">
          </div>
          <div class="card-content">
            <h2 class="card-title">{{ article.title }}</h2>
            <div class="separator"></div>
            <div class="card-info">
              <p class="small category">{{ article.category | replace({
                'culture': 'Culture/Animation',
                'societal': 'Sociétal', 
                'environment': 'Environnement', 
                'sport': 'Sport', 
                'energy': 'Energie', 
                'agriculture': 'Agriculture', 
                'tourism': 'Tourisme', 
              })}}</p>
              <p class="small"><span class="accent">{{article.author.firstname}} {{article.author.lastname}}</span> le {{ article.createdAt | date('d M Y à h:m')}}</p>
            </div>
            <div class="card-text">
              <p>{{ article.content | slice(0, 100) }}...</p>
            </div>
          </div>
          {# <div class="separator"></div>
          <div class="article-action flex justify-between">
            <div class="article-comment">
              <a href="{{ path('add_response', { id: article.id }) }}" class="small">Commenter</a>
              {# <span class="count">5</span> #}
            {# </div>
            <div class="article-share">
              <a class="small" href="">Partager</a>
            </div>
          </div> #} 
        </div> 
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}



