{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="content">
  <h1 class="center capitalize">Nos articles</h1>
  <ul class="article-filter">
    <li><a href="{{ path('articles_show')}}">Tous</a></li>
    <li><a href="{{ path('article_show_category', {category: 'politic'})}}"><i class="fa-solid fa-landmark"></i>Politique</a></li>
    <li><a href="{{ path('article_show_category', {category: 'nature'})}}"><i class="fa-solid fa-tree"></i>Nature</a></li>
    <li><a href="{{ path('article_show_category', {category: 'food'})}}"><i class="fa-solid fa-utensils"></i>Gastronomie</a></li>
    <li><a href="{{ path('article_show_category', {category: 'sport'})}}"><i class="fa-solid fa-person-running"></i>Sport</a></li>
    <li><a href="{{ path('article_show_category', {category: 'work'})}}"><i class="fa-solid fa-person-digging"></i>Emploi</a></li>
  </ul>
  <div class="cards">
    <div class="card-list">
    {% for article in articles %}
      <a href="{{ path('article_show', {id: article.id})}}">
        <div class="card">
          <div class="card-picture">
            <img src="{{ article.picture }}" alt="image article {{article.title}}">
          </div>
          <div class="card-content">
            <h2 class="card-title">{{ article.title }}</h2>
            <div class="separator"></div>
            <div class="card-info">
              <p class="small category">{{ article.category | replace({
                'politic': 'Politique',
                'nature': 'Nature', 
                'food': 'Gastonomie', 
                'sport': 'Sport', 
                'work': 'Emploi' 
              })}}</p>
              <p class="small"><span class="accent">{{article.author.firstname}} {{article.author.lastname}}</span> le {{ article.createdAt | date('d M Y à h:m')}}</p>
            </div>
            <div class="card-text">
              <p>{{ article.content | slice(0, 100) }}...</p>
            </div>
          </div>
          {# <div class="separator"></div>
          <div class="article-action flex justify-between">
            <div class="article-comment">
              <a href="{{ path('add_response', { id: article.id }) }}" class="small">Commenter</a>
              {# <span class="count">5</span> #}
            {# </div>
            <div class="article-share">
              <a class="small" href="">Partager</a>
            </div>
          </div> #} 
        </div> 
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}



