{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="content">
  <h1>Nos articles</h1>
  <ul class="article-filter">
    <li><a href="{{ path('articles_show')}}">Tous</a></li>
    <li><a href="{{ path('article_show_category', {category: 'politic'})}}"><i class="fa-solid fa-landmark"></i>Politique</a></li>
    <li><a href="{{ path('article_show_category', {category: 'nature'})}}"><i class="fa-solid fa-tree"></i>Nature</a></li>
    <li><a href="{{ path('article_show_category', {category: 'food'})}}"><i class="fa-solid fa-utensils"></i>Gastronomie</a></li>
    <li><a href="{{ path('article_show_category', {category: 'sport'})}}"><i class="fa-solid fa-person-running"></i>Sport</a></li>
    <li><a href="{{ path('article_show_category', {category: 'work'})}}"><i class="fa-solid fa-person-digging"></i>Emploi</a></li>
  </ul>
  <div class="article-list">
    {% for article in articles %}
    <a href="">
      <div class="article-ctn" href="">
        <div class="article-picture">
          <img src="{{ article.picture }}" alt="image article {{article.title}}">
        </div>
        <div class="article-content">
          <h2 class="title">{{ article.title }}</h2>
          <div class="separator"></div>
          <p class='category'>{{ article.category }}</p>
          <p class="info"><span class="author"></span> - <span class="date">{{ article.createdAt | date('F j, Y, g:i a') }}</span></p>
          <p class="article-ctn-content">{{ article.content | slice(0, 50) }}...</p>  
          <a href="{{ path('article_show', {id: article.id})}}">Lire l'article</a>
        </div>
        <div class="article-action flex justify-between">
          <div class="article-comment">
            <a href="{{ path('add_response', { id: article.id }) }}" class="small">Commenter</a>
            <span class="count">5</span>
          </div>
          <div class="article-share">
            <a class="small" href="">Partager</a>
          </div>
        </div>
          
      </div> 
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}



