{% extends 'base.html.twig' %}
{% block body %}
  <div class="content">
    <div class="form-container flex column justify-center">
      <h1>Nouvel article</h1>
        {{ form_start(form) }}
          <div class="form-row">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
          </div>
          <div class="form-row">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
          </div>
          <div class="form-row">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
          </div>
          <div class="form-row">
            {{ form_label(form.pictureFile) }}
            {{ form_widget(form.pictureFile) }}
            {{ form_errors(form.pictureFile) }}
          </div>
          <div class="action flex justify-between">
            <button class="btn btn-primary">Valider</button>
            <a class="btn btn-warning" href="{{ path('home')}}">Annuler</a>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}


