{% extends 'base.html.twig' %}
{% block body %}

<div class="ctn-article">
   <h1>{{ article.title}}</h1>
    <img src="{{ article.picture }}" alt="">
    <div class="ctn-category">
      <p><span class="category">{{ article.category }}</span></p>
    </div>
    <p class="article-date small">Ecrit le {{ article.createdAt | date('d M Y')}}</p>
    <div class="separator"></div>
    <p class="article-text">{{ article.content }}</p>

    <div class="action">
      <a href="" class="btn btn-warning btn-small">Editer</a>
      <a href="" class="btn btn-danger btn-small">Supprimer</a>
    </div>
</div>
<div class="ctn-comment">
  {% for comment in comments %}
    <p>Commentaire de {{comment.author.firstname}} {{comment.author.lastname}}</p>
    <p>Posté le {{ comment.createdAt | date('d M Y à h:m')}}</p>
    <p>{{ comment.content }}</p>
  {% endfor %}
</div>
 
{% endblock %}
